@model IEnumerable<ClinicaParavida.Models.Cita>
<img src="~/image/PARAVIDA_Logo.png" width="715" height="350" />
@{
    ViewBag.Title = "Programar Citas-Paciente";
}

<h2>Programar Citas-Paciente</h2>

<p>
    @Html.ActionLink("Agregar", "Create", null ,new { @class = "btn btn-outline-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PacienteDUI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PacienteDUI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            
            @Html.ActionLink("Detalles", "Details", new { id=item.CitasID }, new { @class = "btn btn-outline-primary" }) 
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CitasID }, new { @class = "btn btn-outline-danger", onclick = "return confirm('¿Estás seguro de que quieres eliminar este elemento?');" })
        </td>
    </tr>
}

</table>
