@model ClinicaParavida.Models.Enfermera

@{
    ViewBag.Title = "Eliminar ";
}

<h2>Eliminar</h2>

<h3>Seguro que lo quieres eliminar?</h3>
<div>
    <h4>Enfermera</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dui)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dui)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-outline-danger" /> |
            @Html.ActionLink("Regresar al listado", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
